body {
    margin: none;
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
}




#principal {
    
    
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: black;
    
}

#boton {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%;
    height: 7%;
    background-color: gold;
    border: 2px goldenrod solid;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4px;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.1);
}

#input {
    
    width: 25%;
    height: 5%;
    margin-top: -10px;
    border: 1px black solid;
    border-radius: 3px;
}

.negro {
    color: black;
    margin-bottom: 0px;
    font-size:xx-large;
    text-align: center;
    text-transform: uppercase;
    
    
}

h4 {
    color: black;
    font-size:x-large;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    
    
}
#ingredientesPizza {
    color: black;
    font-size:large;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    margin-top: -10px;
    padding-top: 0px;
    padding-left: 7px;
    padding-right: 7px;
}

h1 {
    color: white;
    letter-spacing: 2px;
    margin-top: 0px;
    padding-top: 0px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25%;
    height: auto;
    margin: 0 auto;
    border: 0.5px solid rgb(83, 83, 83);
    border-radius: 4px;
    box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.35);
-webkit-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.35);

}

img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
    width: 100%;
    height: 200px;
    
}

.rojo {
    color: red;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: 400;
    margin-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
}

